@model Ch24ShoppingCartMVC.Models.CartViewModel

@{
    ViewBag.Title = "Confirmation";
}

<h2>Confirmation Page</h2>
<p>Thank you for shoppig with us!</p>
<br/>
<p>Your order is currently being processed...</p> 
<br />
<p>You will be sent an email containing your order information shortly.</p>
<br />
<br />
<p>Have a lovely day!</p>
