@model Ch24ShoppingCartMVC.Models.CartViewModel
@{
    ViewBag.Title = "Confirmation";
}

@section css {
    <link href="~/Content/Cart.css" rel="stylesheet" />
}
<h2>Confirmation</h2>
<p>Thank you for shoppig with us! Your order is being processed. You will be sent an email containing information regarding your order. Have a lovely day!<p>
